@import "bootstrap/scss/bootstrap.scss";
@import "./assets/spacing";

$blue: #004e9b;
$light-blue: #9dd8e1;

body {
  font-family: "Quicksand", sans-serif;
}
.container {
  margin-top: 30px;
}
.navbar.blue {
  background-color: $blue !important;
  color: #fff;
}
h2 {
  text-align: center;
  margin: 30px 0px;
}
.btn.blue {
  border: 2px solid $light-blue;
  background-color: white;
  border-radius: 20px;
  color: $light-blue;
  &:hover {
    background-color: white;
    border-color: $cyan;
    color: $cyan;
  }
}
.text-bold {
  font-weight: bold;
}
// Print configuration
@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
}
@page {
  size: auto;
  margin: 0mm;
}
